*{

    padding: 0px;
}

.cuadro{
    width: 100%;
    background-color: white;
}

.cuadro :first-child{
    background-color: green;
}

.cuadro :last-child{
    background-color: red;
}

.cuadro :nth-child(2){

    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cuadro .aguila{

    width: 70%;
    height: 50%;
}